.busy { position:relative;}
.busy:before, .busy:after { content:''; display:block; position:absolute; }
.busy:before { left:0; top:0; right:0; bottom:0; background:rgba(0,0,0,.7); z-index:999; }
.busy:after { width:32px; height:32px; position:absolute; left:50%; top:50%; margin:-16px 0 0 -16px; z-index:4; border: 5px solid #ffffff; border-top-color: #fe5621; border-radius: 100%; -webkit-animation: loading2 linear .7s infinite; animation: loading2 linear .7s infinite; }@-webkit-keyframes loading2 { 100% {-webkit-transform: rotate(360deg);} }
@keyframes loading2 { 100% {transform: rotate(360deg);} }